MainApplication/zeebregtsCs/Service References/ExchangeService/ExchangeContactsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExchangeContactsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExchangeContactsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInfo" nillable="true" type="tns:ContactInfo" />
</xs:schema>