MainApplication/zeebregtsCs/Service References/ExchangeService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExchangeContactsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IService1_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyContact_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyContact" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveContact_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveContact" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddContact" message="tns:IService1_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddContactResponse" message="tns:IService1_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyContact" message="tns:IService1_ModifyContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyContactResponse" message="tns:IService1_ModifyContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveContact" message="tns:IService1_RemoveContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveContactResponse" message="tns:IService1_RemoveContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>